[data-theme="dark"] {
	//Colores genericos
	--color-cards-bg: var(--dark-blue-700);
	--color-cuestionario-text-secundary: var(--blue-gray-50);
	--color-cuestionario-text-tertiary: var(--blue-gray-100);

	//Estadisticas categorias
	--color-stat-aciertos: var(--green-600);
	--color-stat-fallos: var(--red-600);
	--color-stat-intentos: var(--blue-gray-100); 	
	--color-stat-warning: var(--yellow-500);

	//Colores primarios y secundarios para todo lo relativo a los repasos
	--color-repasos: var(--ice-blue-500);
	--color-repasos-bg: rgba(59, 130, 246, 0.1);	

	//Colores primarios y secundarios para todo lo relativo a las practicas 
	--color-practicas: var(--green-550);
	--color-practicas-bg: rgba(25, 135, 84, 0.1);

	//Colores primarios y secundarios para todo lo relativo a los examenes
	--color-examenes: var(--red-250);
	--color-examenes-bg: rgba(246, 59, 84, 0.1);	
}