[data-theme="dark"] {
	--color-navbar-bg: var(--dark-blue-800);
	--color-bottom-border: var(--blue-gray-400);
	--color-box-shadow: var(--shadow-md);
	--color-menu-icons: var(--dark-blue-100);
	--color-menu-icons-hover: var(--blue-700);
}