:root {
	--color-navbar-bg: var(--blue-10);
	--color-bottom-border: var(--gray-65);
	--color-box-shadow: var(--shadow-md);
	--color-menu-icons: var(--dark-blue-100);
	--color-menu-icons-hover: var(--blue-600);
}