:root {
	--black-shadow-50: rgba(0,0,0,0.05);

	--blue-50: #e2e8f0;
	--blue-500: #3b82f6;
	--blue-600: #2563eb;
	--blue-650: #1d4ed8;

	--blue-gray-100: #9ca3af;
	--blue-gray-150: #94a3b8;

	--dark-blue-500: #1e293b;

	--green-50: #f0fdf4;
	--green-150: #d4edda;
	--green-250: #bbf7d0;
	--green-500: #22c55e;
	--green-600: #198754;
	--green-800: #155724;

	--color-editar-pregunta-cancelar-bg-lg: #f8d7da;
	--color-editar-pregunta-cancelar-bg: #721c24;
	--color-editar-pregunta-cancelar-bg-hover: #f5c6cb;

	--red-50: #fef2f2;
	--red-75: #f8d7da;
	--red-150: #fecaca;
	--red-500: #ef4444;
	--red-600: #dc2626;
	--red-800: #721c24;

	--gray-50: #f9fafb;
	--gray-200: #e5e7eb;
	--gray-500: #6b7280;
	--gray-900: #111827;

	--yellow-500: #f59e0b;
}

