:root {
	--black: #000;

	--blue-50: #e2e8f0;
	--blue-80: #d8dce4;
	--blue-400: #38bdf8;
	--blue-480: #4a90e2;
	--blue-500: #3b82f6;
	--blue-600: #2563eb;
	--blue-650: #1d4ed8;

	--blue-gray-20: #e2eaf5;
	--blue-gray-50: #cbd5e1;
	--blue-gray-100: #9ca3af;
	--blue-gray-150: #94a3b8;
	--blue-gray-400: #64748b;

	--dark-blue-100: #6b7280;
	--dark-blue-300: #374151;
	--dark-blue-500: #0a182e;
	--dark-blue-700: #263753;
	--dark-blue-800: #1e293b;

	--gray-5: #f8f8fa;
	--gray-65: #e5e7eb;
	--gray-800: #333;

	--green-50: #f0fdf4;
	--green-150: #d4edda;
	--green-250: #bbf7d0;
	--green-500: #22c55e;
	--green-600: #198754;
	--green-800: #155724;

	--red-50: #fef2f2;
	--red-75: #f8d7da;
	--red-150: #fecaca;
	--red-500: #ef4444;
	--red-600: #d42c2c;
	--red-800: #721c24;

	--white: #fff;

	--yellow-500: #f59e0b;
}

