[data-theme="dark"] {
	//Colores principales
	--color-main-bg: var(--dark-blue-800);
	--color-text-main: var(--blue-80);
	--color-text-tertiary: var(--blue-80);

	//Colores primarios genericos de los cuestionarios
	--color-cuestionario-text-primary: var(--blue-480);
	--color-cuestionario-bg: var(--dark-blue-700);
	--color-cuestionario-bg-hover: var(--dark-blue-800);

	//Navbar superior
	--color-navbar-bg: var(--blue-10);
	--color-bottom-border: var(--gray-65);
	--color-box-shadow: var(--shadow-md);
	--color-menu-icons: var(--dark-blue-100);
	--color-menu-icons-hover: var(--blue-600);

	//Categoiras
	--color-cabecera-repaso: var(--ice-blue-500);
	--color-cabecera-practica: var(--green-550);
	--color-cabecera-examen: var(--red-250);

	//Barra de busqueda
	--color-search-icon: var(--blue-gray-50);
	--color-search-border: var(--dark-blue-800);
	--color-search-bg: var(--dark-blue-300);
	--color-search-text: var(--blue-10);
	--color-search-text-placeholder: var(--blue-gray-50);

	//Admin page
	--color-card-admin-bg: var(--dark-blue-700)
}