:root {
	//Colores principales
	--color-main-bg: var(--gray-65);
	--color-smoke: var(--gray-800);
	--color-white: var(--white);
	--color-black: var(--black);
	--color-text-main: var(--gray-800);
	--color-text-sencondary: var(--blue-80);
	--color-text-tertiary: var(--dark-blue-300);
	--color-text-versions: var(--blue-400);
	--color-text-subs: var(--dark-blue-100);
	--color-modal: var(--dark-blue-300);

	//Editar preguntas
	--color-editar-pregunta-guardar-bg: var(--green-150);
	--color-editar-pregunta-guardar: var(--green-800);
	--color-editar-pregunta-guardar-hover: var(--green-250);
	--color-editar-pregunta-cancelar-bg: var(--red-75);
	--color-editar-pregunta-cancelar: var(--red-800);
	--color-editar-pregunta-cancelar-hover: var(--red-150);

	//Iconos
	--color-admin-icons: var(--blue-480);

	//Categoiras
	--color-cabecera-repaso: var(--blue-625);
	--color-cabecera-practica: var(--green-600);
	--color-cabecera-examen: var(--red-600);
	
	//Barra de busqueda
	--color-search-icon: var(--blue-gray-100);
	--color-search-border: var(--blue-gray-50);
	--color-search-bg: var(--gray-5);

	//Otros
	--color-bt-close: var(--dark-blue-100);

	//Admin page
	--color-card-admin-bg: var(--gray-5)

}