:root {
	--shadow-sm: rgba(0,0,0,0.05);
	--shadow-md: rgba(0,0,0,0.1);
	--shadow-lg: rgba(0,0,0,0.15);

	--overlay-white-sm: rgba(255,255,255,0.05);
	--overlay-white-md: rgba(255,255,255,0.08);

	--overlay-grey-md: rgba(128, 128, 128, 0.5);

	--overlay-blue-md: rgba(96, 165, 250, 0.1);
}